@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
    background-color: #FFFFFF;
    color: #2B2A27;
}

li {
    list-style: none;
}

a {
    color: #2B2A27;
}

img {
    max-width: 100%;
}

.site-title {
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

#mainvisual img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    margin-bottom: 80px;
}

#text {
    margin-bottom: 80px;
}

#img-list {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

#img-list li {
    width: calc(100%/3);
}

#img-list img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;
}

#button {
    display: inline-block;
    padding: 18px 60px;
    border: #2B2A27 solid 1px;
    margin-bottom: 100px;
}

#button a {
    text-decoration: none;
    font-size: 14px;
}

#footer {
    font-size: 12px;
    padding-bottom: 20px;
}

#footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 834px) {
    #text {
        padding: 0 20px;
    }

    #img-list {
        flex-direction: column;
    }

    #img-list li {
        margin: 0 auto;
        width: 100%;
    }
}